body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(119, 162, 222);
    font-size: 1em;
    /* 2em means 200% */
    text-align: center;
}

.buttons {
    font-size: 3rem;
    border: none;
    margin: 7px;
    background-color: hsla(160, 100%, 75%, 0.473);
    border-radius: 4px;
}