body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(119, 162, 222);
    font-size: 1em;
    /* 2em means 200% */
    text-align: center;
}

#myBox{
    background-color: lightgreen;
    width: 200px;
    height: 200px;
    font-size: 9.1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    position: relative;
    padding-bottom: 22px;
}

#myButton {
    font-size: 3rem;
    border: none;
    margin: 2px;
    
}

#myButton:hover {
    background-color: aqua;
    font-size: 3rem;
    border: none;
    margin: 2px;

}

